* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

body {
  background: #FFF;
  color: #000;
  -webkit-font-smooting: antialiased;
}

body, input, button {
  font-family: 'Helvetica', serif;
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6, strong {
  font-weight: 500;
}

button {
  cursor: pointer;
}

.css-gjf0f1,
.css-1eegd2p {
  background-color: #C84945 !important;
}
